body{
  background-color: white;
}
button {
  padding: 0.22rem;
  margin: 0.5rem
}

div.divider{
  line-height: 1.5 em;
  padding: 0.5em;
  display: block;
}

label.input-label {
  display:block;
  margin-top: 1rem;
}

input{
  width: 100%;
  max-width: 15rem;
}
textarea{
  width: 100%;
  max-width: 40rem;
}

form {
  margin-left: 12%;
  margin-right: 12%;
  line-height: .35em;
  background-color: aliceblue;
  border: 3px solid #f1f1f1;
  padding: 1rem;
  width:auto;
  height: auto;
}

.label-break{
  line-height: .1em;
}

.messageTitle {
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
}

.messageBody {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  }